
 <h2> logout works! </h2>
 <div class="col-sm-6">
  <form [formGroup]="logout" (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label  class="label-color"> email Address</label>
    <input type="email" name="email" formControlName="email"
       class="form-control" placeholder="Enter Email Address">
       <span  class="error" *ngIf="email.invalid  && email.touched"> Email Required</span>

  </div>
  <BR/>
  <div class="form-group">
    <label class="label-color"> Address</label>
    <input type="text" name="address" formControlName="address"
       class="form-control" placeholder="Enter  Address">
       <span  class="error" *ngIf="address.invalid  && address.touched"> Address Required No Numbers-No spaces</span>
       <!--span  class="error" *ngIf="email.invalid  && email.touched "> Address Required</span-->

  </div>
  <BR/>
  <div class="form-group">
    <label class="label-color"> Password</label>
    <input type="password" name="password" formControlName="password"
        class="form-control" placeholder="your password">
  </div> <BR/>
  <button class="label-color" type="submit" [disabled]="logout.invalid"
            class="btn btn-outline-primary"> Submit</button>
  <br/> <br/>
  Form Values: {{logout.value | json}} <br/>
  Form Status: {{logout.valid}}

 </form>
 </div>
